bitbag_admin_shipping_gateway:
    resource: |
        alias: bitbag.shipping_gateway
        section: admin
        templates: '@SyliusAdmin/Crud'
        except: ['show']
        redirect: update
        grid: bitbag_admin_shipping_gateway
        permission: true
        vars:
            all:
                header: bitbag.ui.shipping_gateways
                subheader: bitbag.ui.manage_shipping_gateways
            index:
                icon: cloud
            route:
                parameters:
                    code: $code
    type: sylius.resource

bitbag_admin_shipping_gateway_create:
    path: /shipping-gateways/new/{code}
    methods: [GET, POST]
    defaults:
        _controller: bitbag.controller.shipping_gateway::createAction
        _sylius:
            section: admin
            template: '@SyliusAdmin/Crud/create.html.twig'
            redirect: bitbag_admin_shipping_gateway_index
            permission: true
            vars:
                header: bitbag.ui.shipping_gateways
                subheader: bitbag.ui.create_shipping_gateway
                route:
                    parameters:
                        code: $code

