parameters:
    level: 8

    paths:
        - src

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
            - identifier: missingType.iterableValue
            - identifier: missingType.generics
