{% if data.labelPath %}
    {% include '@BitBagShippingExportPlugin/ShippingExport/Partial/_downloadShippingLabel.html.twig' %}
{% else %}
    <span class="ui label">
        {{ 'bitbag.ui.no_shipping_label'|trans }}
    </span>
{% endif %}
