{% set value = 'bitbag.ui.' ~ data.state %}

{% if  data.state == 'new' %}
    {% include '@BitBagSyliusShippingExportPlugin/ShippingExport/Partial/_exportShipment.html.twig' %}
{% else %}
    <span class="shipping-export-state ui green label"><i class="check icon"></i> {{ value|trans }}</span>
{% endif %}
