{% set value = 'bitbag.ui.' ~ data.state %}

{% if  data.state == 'new' %}
    {% include 'ShippingExportPlugin:ShippingExport/Partial:_exportShipment.html.twig' %}
{% else %}
    <span class="ui green label"><i class="check icon"></i> {{ value|trans }}</span>
{% endif %}
