<a href="{{ path('bitbag_admin_get_shipping_label', {'id' : data.id}) }}">
    <button class="ui labeled icon teal button mini"><i class="file pdf outline icon"></i>
        {{ 'bitbag.ui.download_shipping_label'|trans }}
    </button>
</a>
