<form action="{{ path('bitbag_admin_export_single_shipment', {'id' : data.id}) }}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <button class="ui labeled icon primary button mini shipping-export-state"><i class="arrow up icon"></i> {{ value|trans }}</button>
</form>
